/* nav specialized to landing page */
nav {
  background-color: var(--bg-color);
}

/* header section */
.header {
  text-align: center;
  background-color: var(--bg-color);
  padding: 2rem 0 10rem 0;
}

.header__no-hero {
  text-align: center;
  background-color: var(--bg-color);
  padding: 2rem 0;
}

.header__title {
  font-weight: 900;
  color: var(--primary-color);
}

.header__description {
  margin: -1rem auto 2rem auto;
}

/* hero section */
.hero__terminal {
  margin: -11rem auto 1rem auto;
  text-align: left;
  font-size: 16px;
  padding: 0 1rem;
  background-color: var(--primary-color);
  min-height: 250px;
  animation: fadeIn 0.1s;
}

.hero__terminal pre {
  white-space: pre-line;
  padding-top: 1rem;
}

.hljs {
  background-color: var(--primary-color) !important;
}

/* feature section */
.feature {
  display: flex;
  flex-wrap: wrap;
}

.feature__item {
  max-width: calc(33% - 20px);
  margin: 0 20px 0 0;
}

.feature__item .section__title {
  margin-bottom: 0;
}

.feature__item p {
  margin-top: 0.5rem;
}

/* section title */
.section--title {
  text-align: center;
  padding-bottom: 1rem;
}

.section--title h2 {
  margin-bottom: 0;
}

.section--title p {
  font-style: italic;
}

/* portefolio section */
.project {
  padding: 3rem 0;
  position: relative;
}

.project > .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 80rem;
  width: calc(100% - 4rem);
}

.project.even > .inner {
  flex-direction: row-reverse;
}

.project.odd .image {
  right: 0;
}

.project.even .image {
  left: 0;
}

.project .image {
  border-radius: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 50%;
}

.project .content {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 2.5rem 5rem;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  background-color: #fff;
  color: var(--primary-color);
  border-radius: 4px;
  position: relative;
  z-index: 1;
  width: 55%;
}

.project .content > ul {
  list-style: none;
  padding: 0;
}

.project .content > ul > li {
  line-height: 2rem;
}

.project .image img {
  object-fit: cover;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 980px) {
  .project {
    padding: 0;
    text-align: center;
  }

  .project > .inner {
    display: block;
    max-width: none;
    width: 100%;
    justify-content: flex-start;
  }

  .project .image {
    display: block;
    height: 40vh;
    min-height: 20rem;
    width: 100%;
    position: relative;
  }

  .project .content {
    padding: 0.5rem 2.5rem;
    border-radius: 0;
    width: 100%;
  }
}

.image[data-position='top right'] img {
  object-position: top right;
}

.image[data-position='top left'] img {
  object-position: top left;
}

/* callout section */
.callout {
  text-align: center;
  padding: 1rem 0;
}

.callout .button--primary {
  display: inline-block;
  margin-top: 0.5rem;
}

/* cv section */
.cv {
  background-color: var(--bg-color);
  padding: 1rem 0;
}

.cv__wrapper {
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
}

.cv__item {
  display: flex;
}

.cv__meta {
  flex-basis: 25%;
}

.cv__meta small {
  color: var(--primary-color-light);
  font-weight: 200;
  letter-spacing: 1px;
}

.cv__title {
  margin-bottom: 0;
}

.cv__callout {
  margin: 3rem auto 2rem auto;
  text-align: center;
}

@media (max-width: 750px) {
  .tab__container > ul {
    right: auto;
    left: 0;
    padding-left: 0;
  }
  .tab__container .code {
    margin-top: 2rem;
  }
  .feature,
  .folio,
  .cv__item {
    flex-direction: column;
  }
  .feature__item {
    max-width: 100%;
    margin: 0;
  }
  .folio {
    font-size: 0.8rem;
  }
  .folio__detail.folio__description {
    line-height: inherit;
  }
}

/* */

.posts {
  max-width: 1240px;
  margin: 1rem auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

@media only screen and (min-width: 850px) {
  .posts {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* card */

.card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}
.card .title {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card .content {
  padding: 20px;
  display: flex;

  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card p {
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.4;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}
